/* .Card2 {
    display: flex;
    justify-content: center;

    .Register {
      box-shadow: 0px 0px 10px #0000001a;
      width: 30rem;
      margin-top: 86px;
      padding: 40px;
    }

    .register-heading {
      font-size: 26px;
      text-align: center;
      margin-bottom: 24;
    }

    .Social2 {
      display: flex;
      justify-content: space-between;
    }
  
  
  }





  
  .headregister {
    font-size: 26px;
    text-align: center;
    margin-bottom: 24;
  }
  .name {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .email3 {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
  }
  .description {
    text-align: center;
    margin-top: 19px;
  }
  .form {
    margin-top: 31px;
  }
  .name {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .lastname {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .sectionform {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  .Registersec {
    box-shadow: 0px 0px 10px #0000001a;
    width: 30rem;
    margin-top: 86px;
    padding: 40px;
  }
  .button1 {
    display: flex;
    justify-content: space-between;
  }
  .title1{
    margin-bottom: 8.5px;
    font-weight: 500;
  }
  
  .content1 {
    background: #edf2f7;
    border: none;
    padding: 11px 16px;
    border-radius: 8px;
  }
  
  .pass {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 12px;
  }
  
  .roles {
    display: flex;
    flex-direction: column;
  }
  
  .rolesbutton{
    background: #2d3748;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 16px;
    padding: 11px 10px;
    font-weight: 500;
    width: 100%;
  
  }
  
  .signup {
    margin-top: 24px;
    text-align: center;
  }
  
  .logIn-link {
    color: #1b9cfc;
    font-weight: 500;
  } */