.Hero-section {
    background: url("../../Assets/Herovector.svg");
    background-size: cover;
    background-position: center;
    height: 100vh;
  
    .head1 {
        text-align: center;
        margin-top: 80px;
        color: #2D3748;

        .head1-spam {
            color: #1B9CFC;
        }
    }

    .btn-hero {
    display: flex;
    justify-content: center;
    margin-top: 40px;

        .hustler-village {
            color: #718096;
            background-color: #EDF2F7;
            box-shadow: #00000029;
            opacity: 1;
            padding: 8px;
            border-radius: 5px;
            border: 0px;
            // margin-left: 500px;
        }

        .start {
            background-color: #1B9CFC;
            color: #FFFFFF;
            opacity: 1;
            padding: 8px;
            border-radius: 5px;
            border: 0px;
            margin-left: 11px;
            cursor: grab;
        }
    }

    .h-para {
        text-align: center;
        color: #718096;
        margin-top: 15px;
        opacity: 1;
        letter-spacing: 0px;
        font-size: 11px;
    }
}   